@mixin create-mq($breakpoint, $min-or-max) {
    @if($breakpoint == 0) {
      @content;
    } @else {
      @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
        @content;
      }
    }
  }

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint,'min') {
    .col#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
        overflow: auto;
      }
      .col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}

@each $modifier , $breakpoint in $map-grid-props {
    @if($modifier == '') {
      $modifier: '-xs';
    }
    @include create-mq($breakpoint - 1, 'max') {
      .hidden#{$modifier}-down {
        display: none !important;
      }
    }
    @include create-mq($breakpoint, 'min') {
      .hidden#{$modifier}-up {
        display: none !important;
      }
    }
  }

.container {
  width: $grid__bp-md * 1px;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100%;
  overflow: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &:after{
        clear: both;
    }
  }
@each $modifier , $breakpoint in $map-grid-props {
@include create-col-classes($modifier, $grid__cols, $breakpoint);
}


